<html>
  <head>

  </head>
  <body>
    <div class="container">
    <form class="box" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>
      <h5>Login</h5>
      <p> Please enter your login and password! </p>
          <!-- <img src="../assets/customer-avatar.png" alt="Avatar" class="avatar"> -->
          <input type="text"  id="customer_id" name="customer_id" placeholder="Customer id" #customer_id="ngModel"   [(ngModel)]="contact.customer_id">
          <input type="password" id="login_pass" name="login_pass" placeholder="Customer Password" #login_pass="ngModel"   [(ngModel)]="contact.login_pass"> 


          <input type="submit"  value="Login" >
          <input type="submit" [routerLink]="['/forgotpassword']" value="Forgot Password?" >
          <input type="submit" [routerLink]="['/forgotuserid']" value="Forgot User Id?" >
         
    
    
   

</form>
</div>
</body>
</html>