<!doctype html>
<html>
<head>
    <title>Login</title>
  </head>
  <body>
    
    <div class="container">
      

    
                  <form class="box" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate >
                        <h5>Admin Login</h5>
                      <p> Please enter your login and password!</p>
                            <!-- <img src="../assets/customer-avatar.png" alt="Avatar" class="avatar"> -->
                            <input type="text" id="admin_id" name="admin_id" placeholder="Admin ID" #admin_id="ngModel"
                            [(ngModel)]="contact.admin_id" >
                            <input type="password" id="admin_password" name="admin_password" placeholder="Admin Password" #admin_password="ngModel"   [(ngModel)]="contact.admin_password"> 


                            <input type="submit" value="Login" >

                  </form>
          
  </div>
  



    

  </body>
</html>
