.box {
    width: 500px;
    padding: 40px;
    top: 50%;
    left: 50%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
  }
  
  .box input[type="text"],
  .box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid#cda45e;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  
  .box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .box input[type="text"]:focus,
  .box input[type="password"]:focus {
    width: 300px;
    border-color:#cda45e;
  }
  
  .box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid#cda45e;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  
  .box input[type="submit"]:hover {
    background: #cda45e;
  }
